body , ul , h1 , h2 , h3 , h4 , h5{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: #f5f5f5;
}
/* Header */
header{
	background: url('../img/header/bc.png') no-repeat top center;
	background-size: cover;
	height: 100vh;
	min-height: 750px;
	padding-top: 30px;
}
header .navbar-container{
	margin-bottom: 5%;
}
header .logo{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
header .logo .logo-text{
	color: #fffdfd;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	padding: 0px 20px;
}
header .navbar .nav{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 10px;
}
header .navbar .nav li{
	padding: 10px;
	color: #fffdfd;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
}
header .social-block img{
	margin: 20px 10px;
}
header .header-content .titile-text{
	text-align: center;
	color: #fdf9f9;
}
header .header-content .titile-text h3{
	font-family: "Museo Sans Cyrl -700";
	font-size: 36px;
	font-weight: 400;
	line-height: 60px;
	text-transform: uppercase;
	letter-spacing: 1.8px;
}
header .header-content .titile-text p{
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.4px;
	padding: 10px 0px 80px 0px;
}
header .header-content .btn-block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
header .header-content .btn-header{
	width: 327px;
	height: 54px;
	background-color: #7e85d8;
	color: #060606;
	font-family: "Open Sans";
	font-size: 19px;
	font-weight: 700;
	line-height: 55px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
/* End Header */

/* Content */

.main-content{
	padding: 50px 0px 0px 0px;
}

/* main-content-block-1 */
.content-1-title{
	text-align: center;
	color: #060606;
	font-family: "Open Sans";
	font-size: 24px;
	font-weight: 700;
	line-height: 42px;
	text-transform: uppercase;
	letter-spacing: 0.6px;
	padding-bottom: 60px;
	padding-top: 80px;
}
.main-content-block-1 .content-1-text{
	color: #060606;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0.35px;
	margin: 0;
}
.main-content-block-1 .main-content-item{
	margin-bottom: 140px;
}
/* End main-content-block-1 */
/* main-content-block-2 */

.main-content-block-2{
	background-color: #f7f5f5;
	text-align: center;
	padding-bottom: 80px;
}
.main-content-block-2 p{
	color: #060606;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	letter-spacing: 0.45px;
}
/* End main-content-block-2 */
/* End Content */

/* Contact */
.contact{
	background: url('../img/content-3/bc.png') no-repeat top center;
	background-size: cover;
}
.contact .contact-gradient{
	background-color: rgba(0,0,0,0.97);
	height: 100%;
	padding: 70px 0px;
}
.contact .text-block{
	color: #f9f7f7;
}
.contact .text-title{
	color: #f9f7f7;
	font-family: "Open Sans";
	font-size: 24px;
	font-weight: 700;
	line-height: 18px;
	text-transform: uppercase;
	letter-spacing: 0.6px;
	margin-bottom: 40px;
}
.contact .contact-ul{
	margin-bottom: 45px;
}
.contact .contact-ul li{
	margin-bottom: 10px;
}
.contact .contact-form .text-input{
	display: block;
	height: 70px;
	width: 302px;
	background-color: #c2c2c2;
	border: none;
	margin-bottom: 30px;
	font-size: 22px;
	padding: 0px 20px;
}
.contact .btn{
	width: 302px;
	height: 70px;
	background-color: #7e85d8;
	border: none;
	cursor: pointer;

	color: #050505;
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
/* End Contact */

footer{
	height: 78px;
	background-color: #2a2929;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
footer p{
	margin: 0;
	opacity: 0.44;
	color: #fffdfd;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
}