body{
	background-color: #000;
	color: #fff;
	margin: 0;
}
input {
	outline:none;
}
.main {
	background: url('../img/main/bc.png') no-repeat;
	position: relative;
	flex-direction: column;
	display: flex;
	min-height: 600px;
	height: 100vh;
}
.main .logo{
	margin-top: 25px;
}
.main .main-block{
	margin-top: 48%;
	display: flex;
	justify-content: center;
}
.main .main-block h3{
	font-size: 1.6em;
	text-transform: uppercase;
}
.main .main-block p{
	font-size: 1.2em;
}
.main .main-block .btn{
	background-color: #b41537;
	border: none;
	width: 220px;
	height: 45px;
	cursor: pointer;
	color: #fff;
	font-weight: 600;
	font-size: 1em;
	outline: none;
}
.main .main-block .btn:hover{
	background-color: #820F28;
	color: #D0C2F1;
	border: 2px solid #450815;
}
.advantage{
	background: url('../img/advantage/bc.png') no-repeat center;
	min-height: 550px;
}
.advantage span{
	color: #b41537;
	font-size: 1.5em;
	font-weight: 600;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.advantage .left-line::before{
	content: url('../img/advantage/left.png');
	position: relative;
	right: 500px;
	top: 70px;
}
.advantage .left-line{
	display: block;
	margin-left: 180px;
	margin-top: 100px;
}
.advantage .right-line::before{
	content: url('../img/advantage/right.png');
	position: relative;
	left: 165px;
	top: 70px;
}
.advantage .right-line{
	display: block;
	margin-left: 260px;
	margin-top: 200px;
}
.advantage .right-p{
	display: block;
	margin-left: 260px;
}
.advantage .btn{
	background-color: #b41537;
	border: none;
	width: 340px;
	height: 55px;
	cursor: pointer;
	color: #fff;
	font-weight: 600;
	font-size: 1.3em;
	outline: none;
	margin-top: 20px;
	position: absolute;
	left: 50%;
	margin-left: -170px;
}
.advantage .btn:hover{
	background-color: #820F28;
	color: #D0C2F1;
	border: 2px solid #450815;
}
.work{
	padding-top:70px;
}
.work .text-title p{
	color: #fff;
	font-size: 1.5em;
	font-weight: 600;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
}
.work .block-1{
	background: url('../img/work/block-1.png') no-repeat;
	background-size: cover;
	min-height: 400px;
	flex-direction: column;
	display: flex;
	justify-content: center;
}
.work .block-2{
	background: url('../img/work/block-2.png') no-repeat;
	background-size: cover;
	min-height: 400px;
	flex-direction: column;
	display: flex;
	justify-content: center;
}
.work .block-3{
	background: url('../img/work/block-3.png') no-repeat;
	background-size: cover;
	min-height: 350px;
	flex-direction: column;
	display: flex;
	justify-content: center;
}
.work .block-4{
	background: url('../img/work/block-4.png') no-repeat;
	background-size: cover;
	min-height: 350px;
	flex-direction: column;
	display: flex;
	justify-content: center;
}
.work .block-text{
	margin: 0 auto;
	font-size: 1.2em;
}
.work .block-span{
	margin-top: 5%;
	color: #b41537;
	font-size: 1.5em;
	font-weight: 600;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin: 0 auto;
}
.integration {
	padding-top: 50px;
}
.integration .head p{
	margin-top: 5%;
	color: #b41537;
	font-size: 1.5em;
	font-weight: 600;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 7%;
}
.integration .head p::after{
	content: url('../img/advantage/left.png');
	position: absolute;
	left: 15%;
}
.integration .frm .btn{
	background-color: #b41537;
	border: none;
	width: 280px;
	height: 50px;
	cursor: pointer;
	color: #fff;
	font-weight: 600;
	font-size: 1.3em;
	outline: none;
	margin-top: 1%;
	position: absolute;
	margin-bottom: 50px;
	margin-left: 50%;
	left: -140px;
}
.integration .frm .btn:hover{
	background-color: #820F28;
	color: #D0C2F1;
	border: 2px solid #450815;
}
.integration .frm p{
	text-align: center;
}
.integration .frm span{
	font-weight: 600;
	font-size: 1.3em;
}


.block-title{
	justify-content: center;
	flex-direction: row;
	display: flex;
}

.block-name input , .block-phone input{
	border: 2px solid #450815;
	background-color: rgba(0,0,0,0);
	color: #fff;
	width: 70%;
	height: 35px;
}

.block-send .btn-send{
	width: 80%;
	height: 40px;
	background-color: #b41537;
	border: none;
	cursor: pointer;
	color: #fff;
	font-weight: 600;
	font-size: 1.3em;
	outline: none;
	margin-top: 67px;
}

.block-send .btn-send:hover{
	background-color: #820F28;
	color: #D0C2F1;
	border: 2px solid #450815;
}

.block-name , .block-phone{
	margin-top: 10%;
}

.block-name , .block-phone , .block-send{
	justify-content: center;
	flex-direction: row;
	display: flex;
}


.popUp{
	display: none;
	border: 3px solid #fff;
	z-index: 999;
	height: 400px;
	width: 400px;
	background-color: #000;
	position: fixed;
	top: 20%;
	left: 50%;
	margin-left: -200px;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 3px;
	padding-right: 3px;
}
.popUp .title-popUp{
	font-size: 1.6em;
	font-weight: 600;
}
.popUp .off-popUp{
	justify-content: flex-end;
	flex-direction: row;
	display: flex;
}
.popUp .off-popUp .btn-off-popUp{
	background-color: rgba(0,0,0,0);
	border: none;
	cursor: pointer;
	color: #b41537;
	outline: none;
	font-size: 1.4em;
	font-weight: 600;
}
.popUp .off-popUp .btn-off-popUp:hover{
	color: #820F28;
}
.off-scroll{
	overflow:hidden;
}