body{
	margin: 0;
	padding: 0;
}
.main-send-result{
    background-color: #233435;
	height: 100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.logo{
	width: 264px;
    height: 100px;
}
p{
	font-family: Arial, Verdana;
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
}
a{
	color: #fff;
}
span{
	font-size: 22px;
	color: #AB3835;
	font-weight: 700;
}