/* Tablets */
@media screen and (max-width: 980px){
	header{
		background: #000;
		height: 100%;
		min-height: 100%;
	}
	header .title{
		text-align: center;
		margin-bottom: 20px;
	}
	header h1{
		font-size: 52px;
	}
	header h3{
		font-size: 34px;
	}
	header .content{
		display: block;
	}
	header .item-p{
		border: none;
		text-align: center;
	}
	header p{
	max-width: 100%;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	margin: 0;
	}
	header .btn{
		border: 3px solid #fff;
		width: 358px;
		height: 79px;
		border-radius: 15px;
		margin-bottom: 20px;
		text-align: center;
		font-size: 34px;
		line-height: 70px;
		margin: 20px auto;
	}
	.about_me .content{
		display: block;
	}
	.about_me .item{
		max-height: none;
		min-height: 100%;
		padding: 10px;
		width: 100%;
	}
	.about_me .item:first-child{
		display: block;
		height: 400px;
	}
	.about_me .img-wrap{
		height: 100%;
		background: url('../img/man-compressor.jpg') center center no-repeat;
		background-size: cover;
		border: 2px solid #fff;
	}
	.portfolio{
		display: block;
	}
	.portfolio .item-slider{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: center;
		padding: 5px 40px;
		max-height: none;
	}
	.portfolio .img-block{
		display: none;
	}
	.portfolio .slick-dots li button::before{
		color: #fff;
		font-size: 12px;
		margin-top: 30px;
	}
	.portfolio .content{
		text-align: center;
	}
	.portfolio .content p{
		text-align: center;
		max-width: none;
	}
	.portfolio .content .btn{
		margin: 0 auto;
	}
	.contact_me .content-wrap{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: center;
	}
	.contact_me .info-block{
		margin-top: 50px;
		text-align: center;
	}
}
/* Mobile */
@media screen and (max-width: 520px){
	header .btn{
		width: 240px;
		height: 60px;
		font-size: 28px;
		line-height: 50px;
	}
	.about_me p{
		font-size: 18px;
		font-weight: normal;
		opacity: .8;
	}
	.about_me .steck-wrap{
		font-size: 24px;
		padding: 0 10px;
	}
	.portfolio .item-slider{
		padding: 5px 0px;
	}
	.portfolio .btn{
		width: 240px;
		height: 60px;
		font-size: 28px;
		line-height: 50px;
	}
	.contact_me textarea{
		width: 100%;
		height: 140px;
	}
	.contact_me .info-block{
		font-size: 24px;
	}
	.contact_me .info-block a{
		font-size: 20px;
	}
	footer span{
		display: block;
	}
	footer span:first-child{
		margin-bottom: 10px;
	}
}