body{
	margin: 0;
	padding: 0;
}
.header{
	display: flex;
	justify-content: space-between;
	padding: 15px;
	color: #fff;
	background-color: #474747;
}
.logo a{
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	color: #fff;
}

.mobile-toggle{
	display: none;
	cursor: pointer;
}
.mobile-toggle .mobile-ico{
	display: block;
	height: 2px;
	width: 30px;
	background-color: #fff;
}
.mobile-toggle .ico-center{
	margin-top: 7px;
	margin-bottom: 7px;
}
.nav-list{
	list-style-type: none;
	margin: 5px 0px;
}
.nav-list li{
	display: inline;
}
.nav-list li a{
	color: #fff;
	text-decoration: none;
	margin-right: 50px;
}

@media screen and (max-width: 980px){
	.header{
		display: block;
	}
	.logo{
		text-align: center;
	}
	.mobile-toggle{
		display: block;
	}
	.nav{
		display: none;
	}
	.nav-list{
		padding: 0;
		margin-top: 25px;
	}
	.nav-list li{
		display: block;
		margin-top: 10px;
		border-bottom: 3px solid #c0c0c0;
	}
	.nav-list li a{
		margin-right: 0;
		font-size: 20px;
		
	}
}