
*{
	font-family: 'Open Sans', sans-serif;
}

.line{
	width: 100%;
	height: 2px;
	background-color: #320032;
}

a:focus {
	outline: 0 solid;
}
p {
	font-family: 'Lato', sans-serif;
}
a:hover {
	text-decoration: none
}
.navbar {
	border-radius: 0px;
}
.navbar-inverse{
	background-color: #4B004B;
	border: none;
}
.navbar-inverse .navbar-brand{
	color: #fff;
	font-size: 25px;
	font-weight: 700;
}
.navbar-inverse .navbar-brand:hover{
	color: #fff;
}
#main span h3{
	margin-top: 50px;
	font-size: 3em;
	font-weight: 700;
	color: #320032;
}
#main .row-box{
	margin-top: 70px;
}
#main .box-form{
	height: 280px;
	width: 280px;
	background-color: #fff;
	border: 3px solid #320032;
	margin-bottom: 30px;
	box-shadow: 10px 5px 15px rgba(0,0,0,0.4);
}
#main .box-form img{
	padding-top: 20px;
	padding-bottom: 5px;
}
#main .box-form .head-text span{
	font-size: 2em;
	color: #000;
}
#main .box-form ul{
	padding-left: 0;
	padding-top: 10px;
}
#main .box-form ul li{
	list-style: none;
	font-size: 1.1em;
	padding-bottom: 5px;
}
#main .skype{
	 color: #C0C0C0;
}
#portfolio{
	padding-top: 30px;
	padding-bottom: 100px;
}
#portfolio span h3{
	font-size: 3em;
	font-weight: 700;
	color: #320032;
}
#portfolio .portfolio-logo p{
	font-size: 1.1em;
	font-weight: 700;
}
#portfolio .box{
	margin: 30px;
	display:inline-block;
	margin-top: 30px;
	height: 450px;
	width: 250px;
	border: 3px solid black;
	box-shadow: 10px 10px 15px rgba(0,0,0,0.5);
}
#portfolio .box .box-img{
	height: 400px;
	width: 100%;
	border-bottom: 3px solid black;
	margin-bottom: 8px;
}
#portfolio .box .site-1{
	background-image: url(../img/portfolio/site-1.jpg);
}
#portfolio .box .site-2{
	background-image: url(../img/portfolio/site-2.jpg);
}
#portfolio .box .box-link span a{
	color: #680068;
	font-size: 1.6em;
	font-weight: 700;
}
#portfolio .box .box-link span a:hover{
	color: #320032;
}