*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
body{
	color: #fff;
	background: url('../img/background.png') no-repeat;
}
textarea{
	outline:none;
}
input{
	outline:none;
}
.line{
	height: 2px;
	background-color: #fff;
	width: 80px;
	position: absolute;
	left: 50%;
	margin-left: -40px;
	margin-top: 15px;
}
.color-text{
	color: #53be9f;
}
.main{
	height: 100vh;
	min-height: 700px;
	padding-top: 20px;
}
.main .titile p{
	text-align: center;
	font-size: 34px;
	padding-top: 20px;
	font-weight: 600;
}
.main .text-block .text{
	margin-top: 50px;
	text-align: center;
	font-size: 16px;
	line-height: 1.5em;
}
.wrap-content{
	margin-top: 50px;
}
.text-title{
	font-size: 24px;
	font-weight: 600;
}
.social-block{
	padding-top: 20px;
}
.social-block .ico-social{
	border: 1px solid #fff;
	border-radius: 4px;
	height: 30px;
	width: 30px;
	display: inline-block;
}
.social-block .ico-social:hover{
	background-color: #DA5E55;
}
.social-block span{
	font-size: 18px;
}
.social-block .ico-facebook{
	background: url('../img/social/facebook.png') no-repeat center center;
}
.social-block .ico-twitter{
	background: url('../img/social/twitter.png') no-repeat center center;
}
.social-block .ico-dribble{
	background: url('../img/social/dribble.png') no-repeat center center;
}
.social-block .ico-google{
	background: url('../img/social/google.png') no-repeat center center;
}
.social-block .ico-vimeo{
	background: url('../img/social/vimeo.png') no-repeat center center;
}
.social-block .ico-in{
	background: url('../img/social/in.png') no-repeat center center;
}
.form-block{
	padding-top: 20px;
}
.message-block{
	margin-top: 10px;
}
.form-block textarea{
	background-color: rgba(0,0,0,0);
	border: 1px solid #fff;
	color: #fff;
	font-size: 18px;
	width: 300px;
}
.form-block input{
	background-color: rgba(0,0,0,0);
	border: 1px solid #fff;
	color: #fff;
	font-size: 18px;
	width: 300px;
}
.btn{
	margin-bottom: 40px;
	width: 220px;
	height: 30px;
	margin-top: 5px;
	background-color: rgba(218,94,85,0.2);
	border: 1px solid #fff;
	font-size: 17px;
	cursor: pointer;
	font-weight: 600;
	outline:none;
	color: #fff;
	letter-spacing: 3px;
	webkit-transition: background 0.6s ease;
	-moz-transition: background 0.6s ease;
	transition: background 0.6s ease;
}
.btn:hover{
	background-color: rgba(218,94,85,1);
}